 # Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [11]:
def sum(numbers):
  total = 0
  for x in numbers:
    total += x
  return total
y = sum((8, 2, 3, 0, 7))
print(y)

20

#Write a Python program to reverse a string.



﻿Sample String : "1234abcd"

Expected Output : "dcba4321"

In [31]:
def reverse(a):
  for i in range(len(a)-1, -1, -1):
    print(a[i], end ='')
  return ""

print(reverse("1234abcd"))

dcba4321

#Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.



﻿Sample String : 'The quick Brow Fox'

Expected Output :

No. of Upper case characters : 3

No. of Lower case Characters : 12

In [28]:
def count(string):
  count_upper = 0
  count_lower = 0
  for x in string:
    if x.isupper():
      count_upper += 1
    elif x.islower():
      count_lower +=1
  print("No. of Upper case characters:", str(count_upper))
  print("No. of Lower case Characters:", str(count_lower))
  return ""
x = count('The quick Brow Fox')
print(x)

No. of Upper case characters: 3
No. of Lower case Characters: 12